In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('train.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
dead_avg_age = df[df["Survived"] == 0]["Age"].mean()
print(f"Kazada ölenlerin yaş ortalaması: {dead_avg_age:.2f}")

Kazada ölenlerin yaş ortalaması: 30.63

In [6]:
dead_fares = df[df["Survived"] == 0]["Fare"]
print(f"Ölenlerin bilet fiyatı ortalaması: {dead_fares.mean():.2f}")
print(f"Ölenlerin bilet fiyatı medyanı: {dead_fares.median():.2f}")

Ölenlerin bilet fiyatı ortalaması: 22.12
Ölenlerin bilet fiyatı medyanı: 10.50

In [8]:
dead_males = df[(df["Survived"] == 0) & (df["Sex"] == "male")]
print(f"Kazada ölen erkeklerin yaş ortalaması: {dead_males['Age'].mean():.2f}")

Kazada ölen erkeklerin yaş ortalaması: 31.62

In [9]:
dead_females = df[(df["Survived"] == 0) & (df["Sex"] == "female")]
print(f"Kazada ölen kadınların yaş ortalaması: {dead_females['Age'].mean():.2f}")

Kazada ölen kadınların yaş ortalaması: 25.05

In [10]:
survived = df[df["Survived"] == 1]
print(f"Kazadan kurtulanların yaş ortalaması: {survived['Age'].mean():.2f}")

Kazadan kurtulanların yaş ortalaması: 28.34

In [11]:
print(f"Kurtulanların bilet fiyatı ortalaması: {survived['Fare'].mean():.2f}")

Kurtulanların bilet fiyatı ortalaması: 48.40

In [12]:
total_survived = len(survived)
print(f"Kazadan kurtulan kişi sayısı: {total_survived}")

Kazadan kurtulan kişi sayısı: 342

In [13]:
under_10_fare_median = df[df["Age"] < 10]["Fare"].median()
print(f"10 yaşından küçüklerin bilet fiyatı medyanı: {under_10_fare_median:.2f}")

10 yaşından küçüklerin bilet fiyatı medyanı: 27.00

In [14]:
for pclass in [1, 2, 3]:
    class_df = df[df["Pclass"] == pclass]
    mean_fare = class_df["Fare"].mean()
    median_fare = class_df["Fare"].median()
    print(f"{pclass}. Sınıf - Ortalama Bilet Fiyatı: {mean_fare:.2f}, Medyan: {median_fare:.2f}")

1. Sınıf - Ortalama Bilet Fiyatı: 84.15, Medyan: 60.29
2. Sınıf - Ortalama Bilet Fiyatı: 20.66, Medyan: 14.25
3. Sınıf - Ortalama Bilet Fiyatı: 13.68, Medyan: 8.05

In [16]:
# Toplam erkek ve kadın sayısı
total_men = df[df["Sex"] == "male"].shape[0]
total_women = df[df["Sex"] == "female"].shape[0]

# Ölen erkek ve kadın sayısı
dead_men = df[(df["Survived"] == 0) & (df["Sex"] == "male")].shape[0]
dead_women = df[(df["Survived"] == 0) & (df["Sex"] == "female")].shape[0]

male_death_rate = dead_men / total_men
female_death_rate = dead_women / total_women

print(f"Erkeklerin ölüm oranı: {male_death_rate:.2%}")
print(f"Kadınların ölüm oranı: {female_death_rate:.2%}")

Erkeklerin ölüm oranı: 81.11%
Kadınların ölüm oranı: 25.80%